@media screen and (max-width: 1200px) {
    .contacts__right {
        justify-content: center;
    }

    .contacts__left {
        margin-bottom: 35px;
    }

    .innerMenuContainer {
        height: 100% !important;
    }

    .header.openedSubmenu {
        bottom: 0;
    }

    .header::-webkit-scrollbar {
        display: none;
    }

    .menu__item > a {
        text-align: left;
        padding: 0;
        display: inline;
    }

    .grid-block {
        grid-template-columns: repeat(4, 1fr);
    }

    .error-not_found > .container {
        padding-top: 110px;
    }

    .menu-main-list {
        column-count: 3;
        padding: 0;
    }
}

@media (max-width: 998px) {
    .grid-block {
        grid-template-columns: repeat(3, 1fr);
    }
    .header__cont {
        display: none;
    }

    .menuToggleBtn {
        order: -1;
    }

    .topMenu {
        display: flex;
        justify-content: space-around;
        padding-top: 0;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header__topRight {
        justify-content: center;
    }

    .header__top {
        border-bottom: none;
        border-top: 1px solid #cccccc;;
        background-color: transparent;
        margin-top: 25px;
    }

    .priceBlock {
        margin-bottom: 20px;
    }

    .priceBlock .color_select .option {
        width: 24px;
        height: 24px;
        margin: 5px 15px 5px 0;
    }

    .priceBlock .color_select {
        margin-bottom: 20px;
    }

    .product .tel_list,
    .mail_btn {
        width: 230px;
    }

    .mail_btn {
        margin-top: 20px;
    }

    .product .tel_list a,
    .mail_btn a,
    .product__description p {
        font-size: 14px;
    }

    .catalog__filter {
        position: absolute;
        left: -100vw;
        top: 100px;
        background: #ffffff;
        z-index: 9;
        transition: .4s;
    }

    .catalog__filter.show {
        left: 0;
    }

    .news_list .news_head {
        font-size: 16px;
        line-height: 24px;
    }

    .news_list p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 5px;
    }

    .beside_news a span,
    .beside_news a:before,
    .beside_news a:after {
        display: none;
    }

    .sliderContainer .bigBanner_arrowsBox,
    .sliderContainer .arrowsBox {
        display: none;
    }

    .beside_news .next_news a {
        justify-content: flex-end;
    }

    .beside_news a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .beside_news a:hover {
        text-decoration: none;
    }

    .bigBanner__item h3 {
        padding: 20px 0 0 20px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .bigBanner__item p {
        padding-left: 20px;
        font-size: 20px;
    }

    .bigBanner__item .discount {
        font-size: 20px;
    }

    .moreCaWrap {
        margin-top: 20px;
    }

    .header__bottom .top {
        padding: 10px 0;
    }
}

@media (max-width: 767.98px) {
    .grid-block {
        grid-template-columns: repeat(2, 1fr);
    }
    .sliderContainer .arrowsBox .prev,
    .sliderContainer .arrowsBox .next,
    .sliderContainer .bigBanner_arrowsBox .prev_btn,
    .sliderContainer .bigBanner_arrowsBox .next_btn {
        background-size: 90% 10px;
    }

    .bigBanner__item,
    .slider__item {
        height: 250px;
    }

    .humbnailSection .thumbnail__link {
        padding-left: 0;
        padding-right: 0;
    }

    .humbnailSection .thumbnail__image {
        height: auto;
        margin-bottom: 42px;
    }

    .humbnailSection .thumbnail__image img {
        max-width: 100%;
        width: 100%;
        height: auto;
        max-height: none;
    }

    .contactsDetails {
        width: 100%;
    }

    .header .searchContent {
        height: 60px;
    }

    .footer_mail,
    .footer .dev_signature {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer_links {
        flex-direction: column;
    }

    .footer_logo a {
        display: inline-block;
        width: 95px;
        height: 135px;
    }

    .footer .footer_logo {
        display: flex;
        align-items: flex-end;
    }

    .footer_logo img {
        max-height: 135px;
    }

    .footer_cont ul li a,
    .footer_mail a,
    .dev_signature {
        font-size: 14px;
    }

    .product__titleWrap h1 {
        font-size: 24px;
    }

    .product__titleWrap {
        margin-bottom: 10px;
    }

    .priceBlock .product__price {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .news_list img,
    .news_list p {
        margin-bottom: 10px;
    }

    .searchContent input[type="text"]:focus {
        position: absolute;
        width: 235px;
    }

    .thumbnailSlider .slick-prev {
        left: -8px;
    }

    .thumbnailSlider .slick-next {
        right: -8px;
    }

    .menu-main-list {
        column-count: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
    }

    .inner-menu {
        display: none;
    }

    .menu-main-list > li {
        padding: 10px;
        border-bottom: 1px solid #cccccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-main-list > li:nth-child(odd) {
        border-right: 1px solid #cccccc;
    }

    .menu-main-list > li:last-child,
    .menu-main-list > li:nth-last-child(2) {
        border-bottom: none;
    }

    .menu-main-list > li > img {
        max-width: 30px;
    }

    .menu-main-list > li > a {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
    }

    .topMenu {
        flex-direction: column;
    }

    .topMenu .top {
        margin: 5px 0;
    }

    .header__top {
        padding: 0;
    }

    .header__topInner {
        display: flex;
        justify-content: space-between;
    }

    .slogan {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .grid-block {
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: .8em;
    }

    .contactsDetails {
        width: 50%;
    }

    .contactsDetails__title {
        font-size: 16px;
    }

    .contactsDetails a, .contactsDetails p {
        font-size: 14px;
    }

    .header__cont {
        display: none;
    }

    .inputGroupWrap {
        flex-wrap: wrap;
    }

    .inputGroupWrap .inputGroup {
        width: 100%;
    }


    .thumbnailSection__wrap article.thumbnail {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 480px) {
    .thumbnail.thumbnail_hEffect {
        padding: 0 10px;
        margin: 0 20px;
    }

    .catalog__thumbnails .thumbnail {
        width: 100%;
    }

    .header .basketFavoriteBtn {
        padding: 0;
        margin-left: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .flexGridDesktop {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
    }

    .header {
        border-bottom: none;
    }

    .header .searchContent {
        padding-right: 0;
    }

    .form {
        width: 518px;
    }

    .menuToggleBtn {
        display: none;
    }

    .header__top.hide,
    .header__bottom.hide {
        top: -100%;
    }

    .innerMenuContainer {
        top: 100%;
        background-color: #f0f0f0;
    }

    .innerMenuContainer .flexContainer {
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: auto;
    }

    .closeInnerMenu {
        display: none;
    }

    .subMenu {
        position: absolute;
        width: max-content;
        box-shadow: 3px 0px 5px 0px rgba(105, 171, 191, 0.5);
        left: 100%;
        margin-top: -22px;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease;
        display: none;
    }

    .toggleOption {
        display: none;
    }

    .checkBoxItemFlex {
        display: flex;
    }

    .checkBoxItemFlex > * {
        width: 33.33%;
        margin-top: 0;
    }

    .sortedBlock {
        position: relative;
    }

    .checkBoxWrap {
        visibility: hidden;
        opacity: 0;
        max-width: 1140px;
        width: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        transition: .3s;
    }

    .checkBoxWrap.open {
        visibility: visible;
        opacity: 1;
        transition: .3s;
    }

    .closeBtn {
        padding: 5px 15px;
        line-height: 32px;
        font-size: 16px;
        height: 37px;
    }

    .toggleOption.btn {
        display: none;
    }

    .filters {
        position: static;
    }

    .catalog__descr {
        display: block;
        margin-bottom: 26px;
        font-size: 16px;
        line-height: 1.4;
    }

    .catalog__filter .closeBtn {
        display: none;
    }

    .checkBoxWrap .filtersItem__title {
        font-size: 16px;
        margin-bottom: 26px;
    }

    .checkBoxWrap .slideFilters {
        display: none;
    }

    .slideFilters {
        display: none;
    }

    .subMenu .subMenu_item:hover {
        background-color: #00abc3;
    }

    .subMenu .subMenu_item:hover a {
        color: #ffffff !important;
    }

    .contacts__sideWrap {
        margin-bottom: 65px;
    }
}

@media screen and (min-width: 997px) {
    .header__top {
        background-color: #f0f0f0;
    }

    .header__topInner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__bottom .top {
        padding: 18px 0;
    }

    .header .searchContent {
        padding-left: 30px;
    }

    .header .basketFavoriteBtn {
        padding: 0;
    }

    .header .more_tel_btn {
        display: none;
    }

    .topMenu {
        padding-top: 0;
    }

    .topMenu__item {
        vertical-align: middle;
        margin-right: 28px;
    }

    .topMenu__item:last-child {
        margin-right: 0;
    }

    .topMenu__item > a {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .form {
        width: 450px;
    }

    .form .input {
        height: 35px;
    }

    .privateOffice {
        margin-right: 28px;
        font-size: 14px;
    }

    .privateOffice:hover {
        color: #000;
        text-decoration: none;
    }

    .language__item > a {
        font-size: 14px;
    }

    .thumbnailSlider .thumbnail__link {
        padding-left: 15px;
        padding-right: 15px;
    }

    .thumbnailSlider .slick-list {
        width: 95%;
        margin: auto;
    }

    .totalPrice {
        margin-left: 0;
        margin-right: 0;
    }

    .filter-show-btn {
        display: none;
    }

    .brandContainer {
        height: 250px;
        overflow-y: scroll;
    }

    .beside_news .far {
        display: none;
    }

    .slogan {
        margin-left: -140px;
    }
}

@media screen and (min-width: 768px) {
    .pa .form {
        width: 60%;
    }

    .pa .form {
        float: none;
    }

    .pa .changePassword {
        float: none;
    }

    .pa .changePassword p {
        margin-bottom: 80px;
    }

    .pa__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 -15px;
    }

    .contacts .content__title {
        margin-bottom: 93px;
    }

    .contacts__sideWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 576px) {
    .inputGroup_pIndent {
        padding-right: 30px;
    }
}

@media screen and (min-width: 480px) {

    .sortedBlock {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 38px;
    }

    .sortedBtn {
        margin-bottom: 0;
    }

    .toggleOption {
        margin-right: 30px;
    }

    .thumbnailSlider .thumbnail__link {
        padding-left: 15px;
        padding-right: 15px;
    }
}